<md-sidenav #sidenav mode="push" class="app-sidenav">
  Sidenav
</md-sidenav>

<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <div id="name-project">House Project</div>

  <div id="name-auth"><h3>Ha Cong Linh</h3></div>


  <div id="search-content"><button md-button (click)="isDarkTheme = !isDarkTheme">Search</button></div>

  <!--<span class="app-toolbar-filler"></span>-->

</md-toolbar>
