<div class="projectdetail-container">
  <div class="list-image">

  </div>




  <div class="right-div">
    <md-card>


      <p>{{nameTest}}</p>

      <md-card-title>{{projectDetail.nameProject}}</md-card-title>
      <md-card-subtitle>{{projectDetail.typeImage}}</md-card-subtitle>
      <md-card-subtitle>{{projectDetail.description}}</md-card-subtitle>

      <md-card-content>


        <md-card-header>
          <img md-card-avatar src="{{projectDetail.listUrlImage[0]}}">
          <md-card-title>{{projectDetail.authProject}}</md-card-title>
          <md-card-subtitle>{{projectDetail.year}}</md-card-subtitle>
        </md-card-header>



      </md-card-content>
    </md-card>

  </div>
</div>
