<div class="projectdetail-container">

  <div class="list-image">
    <md-card *ngFor="let urlImage of listUrlImage">
      <img md-card-image alt="Main image" src="{{urlImage}}">
    </md-card>
  </div>

  <div class="right-div">
    <md-card>

      <md-card-title>{{projectDetail.nameProject}}</md-card-title>
      <md-card-subtitle>{{projectDetail.typeImage}}</md-card-subtitle>
      <md-card-subtitle>{{projectDetail.description}}</md-card-subtitle>

      <md-card-content>


        <md-card-header>
          <img md-card-avatar src="{{listUrlImage[0]}}">
          <md-card-title>Auth: {{projectDetail.authProject}}</md-card-title>
          <md-card-subtitle>Year: {{projectDetail.year}}</md-card-subtitle>
        </md-card-header>




      </md-card-content>
    </md-card>

  </div>
</div>
