
<div class="app-content">

  <!--<md-card class="project-card" *ngFor="let project of projects"[ngStyle]="{'background-image':'url(' + project.listUrlImage[2] + ')'}">-->
  <md-card class="project-card" *ngFor="let project of projects" >


    <div class="project-div">

      <a [routerLink]="['/projectdetail', project.idProject]">
        <img [src]="project.urlImage" alt="">

      </a>



      <!--<h3>{{project.nameProject}}</h3>-->
      <!--<img [src]='project.listUrlImage[2]' alt="">-->
    </div>



  </md-card>

</div>
