

.project-card{
  max-width: 25%;
  min-width: 216px;
  float:left;

}


md-card{
  margin: 0px !important;
  padding: 0px !important;
}

.project-div{
  max-width: 100%;
}

.project-div img{
  max-width: 100%;

}

/*.project-div h3{*/
/*position: absolute;*/
/*z-index: 1;*/
/*}*/


/*!*md-card {*!*/

/*!*position:relative;*!*/
/*!*padding: $md-card-default-padding;*!*/
/*!*border-radius: $md-card-border-radius;*!*/
/*!*box-shadow: $md-shadow-bottom-z-1;*!*/
/*!*font-family: $font-family;*!*/
/*!*background: white;*!*/
/*}*/

/*@media only screen and (max-width: 846px) and (min-width: 630px){*/
/*.large{*/
/*display: none;*/
/*}*/
/*}*/
