
<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <div id="name-project">House Project</div>
  <div id="name-auth"><h3>Ha Cong Linh</h3></div>
  <div id="search-content">

    <md-input placeholder="Search" [(ngModel)]='listFilter' (ngModelChange)="onChange($event)">
          <span md-prefix>
            <i class="material-icons app-input-icon">search</i>
            &nbsp;
          </span>
    </md-input>

  </div>
</md-toolbar>

<md-sidenav-layout>

  <md-sidenav #sidenav mode="push">
    <md-card>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </md-card>
    <md-card>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </md-card>
    <md-card>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </md-card>
    <md-card>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </md-card>
    <md-card>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </md-card>
  </md-sidenav>

  <router-outlet></router-outlet>

  <md-toolbar color="primary">
    <button md-fab><md-icon>check circle</md-icon></button>
    <!--<div id="name-project">House Project</div>-->
    <!--<div id="name-auth"><h3>Ha Cong Linh</h3></div>-->
    <div id="name-company">Euroland Asia</div>
  </md-toolbar>

</md-sidenav-layout>










